

@media screen and (min-width: 1000px) {
	.alert-warning {
		width: 1000px;
	}
}
@media screen and (min-width: 1024px) {
	.alert-warning {
		width: 1024px;
	}
	h1 {
		font-size: 100px;
	}
	.reserva1 {
		font-size: 35px;
	}
	div.grid {
		font-size: 27px;
		width: 1024px;
	}
	.img10 {
		display: inline;
	}
	.tituloreserva {
		font-size: 60px;
	}
	.fecha-titulo {
		font-size: 35px;
	}
	.opciones {
		font-size: 30px;
	}
	.mapa {
		width: 1024px;
		align-content: center;
	}
	.ubicacion {
		width: 1024px;
		width: 1024px;
	}
	h5 {
		width: 1024px;
		font-size: 25px;
		width: 1024px;
	}
	.dias {
		font-size: 27px;
	}
	.fecha {
		font-size: 29px;
	}
	div.videosaritos {
		width: 1024px;
	}
	.ubi {
		width: 1024px;
	}
	main.contenedor {
		width: 1024px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 2px;
		align-items: center;
	}
}
@media screen and (min-width: 1029px) {
	.alert-warning {
		width:1029px;
	}
	body {
		width: 1029px;
	}
	.contenedor {
		width: 1029px;
	}
	div.row {
		width: 1029px;
	}
	div.videosaritos {
		width: 1029px;
		align-content: center;
	}
	.mapa {
		width: 1029px;
		align-content: center;
	}
	.ubicacion {
		width: 1029px;
	}
	h5 {
		width: 1029px;
	}
}
@media screen and (min-width: 1031px) {
	.alert-warning {
		width: 1031px;
	}
	body {
		width: 1031px;
	}
	.contenedor {
		width: 1031px;
	}
	div.row {
		width: 1031px;
	}
	div.videosaritos {
		width: 1031px;
		align-content: center;
	}
	.mapa {
		width: 1031px;
		align-content: center;
	}
	.ubicacion {
		width: 1031px;
	}
	h5 {
		width: 1031px;
	}
}
@media screen and (min-width: 1051px) {
	.alert-warning {
		width: 1051px;
	}
	body {
		width: 1051px;
	}
	.contenedor {
		width: 1051px;
	}
	div.row {
		width: 1051px;
	}
	div.videosaritos {
		width: 1051px;
		align-content: center;
	}
	.mapa {
		width: 1051px;
		align-content: center;
	}
	.ubicacion {
		width: 1051px;
	}
	h5 {
		width: 1051px;
	}
}
@media screen and (min-width: 1054px) {
	.alert-warning {
		width: 1054px;
	}
	body {
		width: 1054px;
	}
	.contenedor {
		width: 1054px;
	}
	div.row {
		width: 1054px;
	}
	div.videosaritos {
		width: 1054px;
		align-content: center;
	}
	.mapa {
		width: 1054px;
		align-content: center;
	}
	.ubicacion {
		width: 1054px;
	}
	h5 {
		width: 1054px;
	}
}
@media screen and (min-width: 1068px) {
	body {
		width: 1068px;
	}
	.alert-warning {
		width: 1068px;
	}
	.contenedor {
		width: 1068px;
	}
	div.row {
		width: 1068px;
	}
	main {
		.videosaritos {
			width: 1068px;
			align-content: center;
		}
	}
	.mapa {
		width: 1068px;
		align-content: center;
	}
	.ubicacion {
		width: 1068px;
	}
	h5 {
		width: 1068px;
	}
	header {
		width: 1068px;
	}
}
@media screen and (min-width: 1115px) {
	.alert-warning {
		width: 1115px;
	}
	.contenedor {
		width: 1115px;
	}
	div.row {
		width: 1115px;

	}
	main {
		.videosaritos {
			width: 1115px;
			align-content: center;
		}
	}
	.mapa {
		width: 1115px;
		align-content: center;
	}
	.ubicacion {
		width: 1115px;
	}
	h5 {
		width: 1115px;
	}
}
@media screen and (min-width: 1130px) {
	.alert-warning {
		width: 1130px;
	}
	.contenedor {
		width: 1130px;
	}
	div.row {
		width: 1130px;
	}
	main {
		.videosaritos {
			width: 1130px;
			align-content: center;
		}
	}
	.mapa {
		width: 1130px;
		align-content: center;
	}
	.ubicacion {
		width: 1130px;
	}
	h5 {
		width: 1130px;
	}
}
@media screen and (min-width: 1160px) {
	.alert-warning {
		width: 1160px;
	}
	header {
		width: 1160px;
	}
	h3.sucur {
		width: 1160px;
	}
	.contenedor {
		width: 1160px;
	}
	div.row {
		width: 1160px;
	}
	main {
		.videosaritos {
			width: 1160px;
		}
	}
	.mapa {
		width: 1160px;
	}
	.ubicacion {
		width: 1160px;
	}
	h5 {
		width: 1160px;
	}
}
@media screen and (min-width: 1178px) {
	.alert-warning {
		width: 1178px;
	}
	.contenedor {
		width: 1178px;
	}
	div.row {
		width: 1178px;
	}
	main {
		.videosaritos {
			width: 1178px;
			align-content: center;
		}
	}
	.mapa {
		width: 1178px;
		align-content: center;
	}
	.ubicacion {
		width: 1178px;
	}
	h5 {
		width: 1178px;
	}
}
@media screen and (min-width: 1212px) {
	.alert-warning {
		width: 1212;
	}
	.contenedor {
		width: 1212px;
	}
	main.contenedor {
		width: 1212px;
	}
	main {
		.videosaritos {
			width: 1212px;
		}
		.mapa {
			width: 1212px;
		}
	}
}
@media screen and (min-width: 1218px) {
	.alert-warning {
		width: 1218px;
	}
	.contenedor {
		width: 1218px;
	}
	div.row {
		width: 1218px;
	}
	main {
		.videosaritos {
			width: 1218px;
		}
	}
	.mapa {
		width: 1218px;
	}
	.ubicacion {
		width: 1218px;
	}
	h5 {
		width: 1218px;
	}
}
@media screen and (min-width: 1231px) {
	.alert-warning {
		width: 1231px;
	}
	header {
		width: 1231px;
	}
	h3.sucur {
		width: 1231px;
	}
	.contenedor {
		width: 1231px;
	}
	div.row {
		width: 1231px;
	}
	main {
		.videosaritos {
			width: 1231px;
		}
	}
	.mapa {
		width: 1231px;
	}
	.ubicacion {
		width: 1231px;
	}
	h5 {
		width: 1231px;
	}
}
@media screen and (min-width: 1260px) {
	.alert-warning {
		width: 1260px;
	}
	.contenedor {
		width: 1260px;
	}
	div.row {
		width: 1260px;
	}
	main {
		.videosaritos {
			width: 1260px;
		}
	}
	.mapa {
		width: 1260px;
	}
	.ubicacion {
		width: 1260px;
	}
	h5 {
		width: 1260px;
	}
}
@media screen and (min-width: 1267px) {
	.alert-warning {
		width: 1267px;
	}
	body {
		width: 1267px;
	}
	.contenedor {
		width: 1267px;
	}
	div.row {
		width: 1267px;
	}
	main {
		.videosaritos {
			width: 1267px;
		}
	}
	.mapa {
		width: 1267px;
	}
	.ubicacion {
		width: 1267px;
	}
	h5 {
		width: 1267px;
	}
}
@media screen and (min-width: 1270px) {
	.alert-warning {
		width: 1270px;
	}
	.contenedor {
		width: 1270px;
	}
	div.row {
		width: 1270px;
	}
	main {
		.videosaritos {
			width: 1270px;
		}
	}
	.mapa {
		width: 1270px;
	}
	.ubicacion {
		width: 1270px;
	}
	h5 {
		width: 1270px;
	}
}
@media screen and (min-width: 1280px) {
	.alert-warning {
		width: 1280px;
	}
	main.contenedor {
		width: 1280px;
	}
	div.row {
		width: 1280px;
	}
	main {
		.videosaritos {
			width: 1280px;
		}
	}
	.mapa {
		width: 1280px;
	}
	.ubicacion {
		width: 1280px;
	}
	h5 {
		width: 1280px;
	}
	.container-xl {
		width: 1280px;
	}
	.container-lg {
		width: 1280px;
	}
	.container-md {
		width: 1280px;
	}
	.container-sm {
		width: 1280px;
	}
	.container {
		width: 1280px;
	}
}
@media screen and (min-width: 1310px) {
	.alert-warning {
		width: 1310px;
	}
	.contenedor {
		width: 1310px;
	}
	main.contenedor {
		width: 1310px;
	}
	main {
		.videosaritos {
			width: 1310px;
		}
		.mapa {
			width: 1310px;
		}
	}
}
@media screen and (min-width: 1314px) {
	.alert-warning {
		width: 1314px;
	}
	.contenedor {
		width: 1314px;
	}
	main.contenedor {
		width: 1314px;
	}
	main {
		.videosaritos {
			width: 1314px;
		}
		.mapa {
			width: 1314px;
		}
	}
}
@media screen and (min-width: 1352px) {
	.alert-warning {
		width: 1352px;
	}
	.contenedor {
		width: 1352px;
	}
	main.contenedor {
		width: 1352px;
	}
	main {
		.videosaritos {
			width: 1352px;
		}
	}
}
@media screen and (min-width: 1372px) {
	.alert-warning {
		width: 1372px;
	}
	.contenedor {
		width: 1372px;
	}
	main {
		.contenedor {
			width: 1372px;
		}
		.videosaritos {
			width: 1372px;
		}
		.mapa {
			width: 1372px;
		}
	}
}
@media screen and (min-width: 1389px) {
	.alert-warning {
		width: 1389px;
	}
	div#sucursales {
		width: 1389px;
	}
}
@media screen and (min-width: 1423px) {
	.alert-warning {
		width: 1423px;
	}
	body {
		width: 1423px;
	}
	div.row {
		width: 1423px;
	}
	div.videosaritos {
		width: 1423px;
		align-content: center;
	}
	div.ubi {
		width: 1423px;
	}
	h5 {
		width: 1423px;
	}
	.ubicacion {
		width: 1423px;
	}
	h6.card-title {
		font-size: 31px;
	}
}
@media screen and (min-width: 1426px) {
	.alert-warning {
		width: 1426px;
	}
	body {
		width: 1426px;
	}
	.contenedor {
		width: 1426px;
	}
	main {
		.contenedor {
			width: 1426px;
		}
		.videosaritos {
			width: 1426px;
		}
		.mapa {
			width: 1426px;
		}
	}
}
@media screen and (min-width: 1432px) {
	.alert-warning {
		width: 1432px;
	}
	body {
		width: 1432px;
	}
	.contenedor {
		width: 1432px;
	}
	main {
		.contenedor {
			width: 1432px;
		}
		.videosaritos {
			width: 1432px;
		}
		.mapa {
			width: 1432px;
		}
	}
}
@media screen and (min-width: 1440px) {
	.alert-warning {
		width: 1440px;
	}
	body {
		width: 1440px;
	}
	h1 {
		font-size: 120px;
	}
	div.row {
		font-size: 27px;
		width: 1440px;
		justify-content: center;
		text-align: center;
	}
	h5 {
		width: 1440px;
		font-size: 30px;
	}
	.preguntas {
		font-size: 55px;
	}
	.mapa {
		width: 1440px;
		align-content: center;
		justify-content: center;
	}
	.ubicacion {
		width: 1440px;
		font-size: 40px;
	}
	main.contenedor {
		width: 1440px;
	}
	main {
		.videosaritos {
			width: 1440px;
		}
	}
	h3.sucur {
		width: 1440px;
		justify-content: center;
		text-align: center;
	}
}
@media screen and (min-width: 1442px) {
	.alert-warning {
		width: 1442px;
	}
	body {
		width: 1442px;
	}
	.contenedor {
		width: 1442px;
	}
	main {
		.videosaritos {
			width: 1442px;
			align-content: center;
		}
	}
	.mapa {
		width: 1442px;
		align-content: center;
	}
	footer {
		width: 1442px;
	}
}
@media screen and (min-width: 1483px) {
	.alert-warning {
		width: 1483px;
	}
	body {
		width: 1483px;
	}
	.contenedor {
		width: 1483px;
	}
	main {
		.videosaritos {
			width: 1483px;
			align-content: center;
		}
	}
	.mapa {
		width: 1483px;
		align-content: center;
	}
	footer {
		width: 1483px;
	}
}
@media screen and (min-width: 1628px) {
	.alert-warning {
		width: 1628px;
	}
	body {
		width: 1628px;
	}
	div.row {
		width: 1628px;
	}
	div.videosaritos {
		width: 1628px;
		align-content: center;
	}
	div.ubi {
		width: 1628px;
	}
	h5 {
		width: 1628px;
	}
	.ubicacion {
		width: 1628px;
	}
}
@media screen and (min-width: 1642px) {
	.alert-warning {
		width: 1642px;
	}
	body {
		width: 1642px;
	}
	main.contenedor {
		width: 1642px;
	}
	div.row {
		width: 1642px;
	}
	main {
		.videosaritos {
			width: 1642px;
		}
	}
	.mapa {
		width: 1642px;
	}
	.ubicacion {
		width: 1642px;
	}
	h5 {
		width: 1642px;
	}
}
@media screen and (min-width: 1650px) {
	.alert-warning {
		width: 1650px;
	}
	body {
		width: 1650px;
	}
	main.contenedor {
		width: 1650px;
	}
	.grid {
		width: 1650px;
	}
	main {
		.videosaritos {
			width: 1650px;
		}
	}
	.mapa {
		width: 1650px;
	}
	div.grid2 {
		width: 1650px;
	}
	.ubicacion {
		width: 1650px;
	}
	h5 {
		width: 1650px;
	}
}
@media screen and (min-width: 1920px) {
	.alert-warning {
		width: 1920px;
	}
	body {
		width: 1920px;
	}
	div.opciones {
		width: 1920px;
	}
	header {
		width: 1920px;
	}
	h3.sucur {
		width: 1920px;
	}
	.contenedor {
		width: 1920px;
	}
	div.row {
		width: 1920px;
	}
	main {
		.videosaritos {
			width: 1920px;
		}
	}
	.mapa {
		width: 1920px;
	}
	.ubicacion {
		width: 1920px;
	}
	h5 {
		width: 1920px;
	}
	div.ubi {
		width: 1920px;
	}
}