
@media screen and (min-width: 510px) {
	.alert-warning {
		width: 510px;
	}
	body {
		width: 510px;
	}
	.contenedor {
		width: 510px;
	}
	.grid {
		width: 510px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 510px;
			align-content: center;
		}
	}
	.mapa {
		width: 510px;
		align-content: center;
	}
	.grid2 {
		width: 510px;
	}
	.ubicacion {
		width: 510px;
	}
	h5 {
		width: 510px;
	}
}
@media screen and (min-width: 554px) {
	.alert-warning {
		width: 554px;
	}
	body {
		width: 554px;
	}
	main.contenedor {
		width: 554px;
	}
	.grid {
		width: 554px;
	}
	main {
		.videosaritos {
			width: 554px;
		}
	}
	.mapa {
		width: 554px;
	}
	div.grid2 {
		width: 554px;
	}
	.ubicacion {
		width: 554px;
	}
	h5 {
		width: 554px;
	}
}
@media screen and (min-width: 525px) {
	.alert-warning {
		width: 525px;
	}
}
@media screen and (min-width: 558px) {
	.alert-warning {
		width: 558px;
	}
	body {
		width: 558px;
	}
	.contenedor {
		width: 558px;
	}
	.grid {
		width: 558px;
		div {
			font-size: 16px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 558px;
			align-content: center;
		}
	}
	.mapa {
		width: 558px;
		align-content: center;
	}
	.grid2 {
		width: 558px;
	}
	.ubicacion {
		width: 558px;
	}
	h5 {
		width: 558px;
	}
}
@media screen and (min-width: 598px) {
	body {
		width: 598px;
	}
	main.contenedor {
		width: 598px;
	}
	.grid {
		width: 598px;
	}
	main {
		.videosaritos {
			width: 598px;
		}
	}
	.mapa {
		width: 598px;
	}
	div.grid2 {
		width: 598px;
	}
	.ubicacion {
		width: 598px;
	}
	h5 {
		width: 598px;
	}
}