@media screen and (min-width: 602px) {
	.alert-warning {
		width: 602px;
	}
	.contenedor {
		width: 602px;
	}
	.grid {
		width: 602px;
	}
	main {
		.videosaritos {
			width: 602px;
			align-content: center;
		}
	}
	.mapa {
		width: 602px;
		align-content: center;
	}
	.grid2 {
		width: 602px;
	}
	.ubicacion {
		width: 602px;
	}
	h5 {
		width: 602px;
	}
	h3.sucur {
		width: 602px;
	}
	.navbar {
		width: 602px;
	}
}
@media screen and (min-width: 604px) {
	.alert-warning {
		width: 604px;
	}
	body {
		width: 604px;
	}
	.contenedor {
		width: 604px;
	}
	.grid {
		width: 604px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 604px;
			align-content: center;
		}
	}
	.mapa {
		width: 604px;
		align-content: center;
	}
	.grid2 {
		width: 604px;
	}
	.ubicacion {
		width: 604px;
	}
	h5 {
		width: 604px;
	}
}
@media screen and (min-width: 605px) {
	.alert-warning {
		width: 605px;
	}
	header {
		width: 605px;
	}
	h3.sucur {
		width: 605px;
	}
	.contenedor {
		width: 605px;
	}
	main {
		.videosaritos {
			width: 605px;
		}
	}
	.mapa {
		width: 605px;
	}
	.ubicacion {
		width: 605px;
	}
	h5 {
		width: 605px;
	}
	.navbar {
		width: 605px;
	}
}
@media screen and (min-width: 612px) {
	.alert-warning {
		width: 612px;
	}
	body {
		width: 612px;
	}
	main {
		.videosaritos {
			width: 606px;
		}
	}
	.ubi {
		width: 612px;
	}
	h5 {
		width: 612px;
	}
	.ubicacion {
		width: 612px;
	}
	div.grid2 {
		width: 612px;
	}
	.grid {
		width: 612px;
	}
	main.contenedor {
		width: 612px;
	}
}
@media screen and (min-width: 618px) {
	body {
		width: 618px;
	}
	.contenedor {
		width: 618px;
	}
	.grid {
		width: 618px;
		div {
			font-size: 18px;
			text-align: center;
			justify-content: center;
		}
	}
	main.videosaritos {
		width: 618px;
		align-content: center;
	}
	.mapa {
		width: 618px;
		align-content: center;
	}
	.grid2 {
		width: 618px;
	}
	.ubicacion {
		width: 618px;
	}
	h5 {
		width: 618px;
	}
}
@media screen and (min-width: 622px) {
	.alert-warning {
		width: 622px;
	}
	.contenedor {
		width: 622px;
	}
	.grid {
		width: 622px;
	}
	main {
		.videosaritos {
			width: 622px;
			align-content: center;
		}
	}
	.mapa {
		width: 622px;
		align-content: center;
	}
	.grid2 {
		width: 622px;
	}
	.ubicacion {
		width: 622px;
	}
	h5 {
		width: 622px;
	}
	h3.sucur {
		width:622px;
	}
	.navbar {
		width:622px;
	}
}
@media screen and (min-width: 626px) {
	.alert-warning {
		width: 626px;
	}
	.contenedor {
		width: 626px;
	}
	.grid {
		width: 626px;
	}
	main {
		.videosaritos {
			width: 626px;
			align-content: center;
		}
	}
	.mapa {
		width: 626px;
		align-content: center;
	}
	.grid2 {
		width: 626px;
	}
	.ubicacion {
		width: 626px;
	}
	h5 {
		width: 626px
	}
	h3.sucur {
		width:626px;
	}
}
@media screen and (min-width: 628px) {
	.alert-warning {
		width: 628px;
	}
	.contenedor {
		width: 628px;
	}
	.grid {
		width: 628px;
	}
	main {
		.videosaritos {
			width: 628px;
		}
	}
	.mapa {
		width: 628px;
	}
	.grid2 {
		width: 628px;
	}
	.ubicacion {
		width: 628px;
	}
	h5 {
		width: 628px;
	}
	h3.sucur {
		width:628px;
	}
	.navbar {
		width:628px;
	}
}
@media screen and (min-width: 633px) {
	.alert-warning {
		width: 633px;
	}
	body {
		width: 633px;
	}
	.contenedor {
		width: 633px;
	}
	main {
		.videosaritos {
			width: 633px;
			align-content: center;
		}
	}
	.mapa {
		width: 633px;
		align-content: center;
	}
	footer {
		width: 633px;
	}
}
@media screen and (min-width: 636px) {
	.alert-warning {
		width: 636px;
	}
	header {
		width: 636px;
	}
	h3.sucur {
		width: 636px;
	}
	.contenedor {
		width: 636px;
	}
	main {
		.videosaritos {
		width: 636px;
		}
	}
	.mapa {
		width: 636px;
	}
	.ubicacion {
		width: 636px;
	}
	h5 {
		width: 636px;
	}
	.navbar {
		width: 636px;
	}
}
@media screen and (min-width: 641px) {
	.alert-warning {
		width: 641px;
	}
	header {
		width: 641px;
	}
	h3.sucur {
		width: 641px;
	}
	.contenedor {
		width: 641px;
	}
	main {
		.videosaritos {
		width: 641px;
		}
	}
	.mapa {
		width: 641px;
	}
	.ubicacion {
		width: 641px;
	}
	h5 {
		width: 641px;
	}
	.navbar {
		width: 641px;
	}
}
@media screen and (min-width: 644px) {
	.alert-warning {
		width: 644px;
	}
	header {
		width: 644px;
	}
	h3.sucur {
		width: 644px;
	}
	.contenedor {
		width: 644px;
	}
	main {
		.videosaritos {
			width: 644px;
		}
	}
	.mapa {
		width: 644px;
	}
	.ubicacion {
		width: 644px;
	}
	h5 {
		width: 644px;
	}
	.navbar {
		width: 644px;
	}
}
@media screen and (min-width: 654px) {
	.alert-warning {
		width: 654px;
	}
	.contenedor {
		width: 654px;
	}
	.grid {
		width: 654px;
	}
	main {
		.videosaritos {
			width: 654px;
			align-content: center;
		}
	}
	.mapa {
		width: 654px;
		align-content: center;
	}
	.grid2 {
		width: 654px;
	}
	.ubicacion {
		width: 654px;
	}
	h5 {
		width: 654px
	}
	h3.sucur {
		width:654px;
	}
	.navbar{
		width:654px;
	}
	}
@media screen and (min-width: 658px) {
	.alert-warning {
		width: 658px;
	}
	body {
		width: 658px;
	}
	.contenedor {
		width: 658px;
	}
	main {
		.videosaritos {
			width: 658px;
			align-content: center;
		}
	}
	.mapa {
		width: 658px;
		align-content: center;
	}
	footer {
		width: 658px;
	}
}
@media screen and (min-width: 665px) {
	.alert-warning {
		width: 665px;
	}
}
@media screen and (min-width: 670px) {
	.alert-warning {
		width: 670px;
	}
	body {
		width: 670px;
	}
	main {
		.videosaritos {
			width: 670px;
		}
	}
	.ubi {
		width: 670px;
	}
	h5 {
		width: 670px;
	}
	.ubicacion {
		width: 670px;
	}
	div.grid2 {
		width: 670px;
	}
	.grid {
		width: 670px;
	}
	main.contenedor {
		width: 670px;
	}
	h3.sucur {
		width: 670px;
	}
	.navbar {
		width: 670px;
	}
}
@media screen and (min-width: 676px) {
	.alert-warning {
		width: 676px;
	}
	header {
		width: 676px;
	}
	h3.sucur {
		width: 676px;
	}
	.contenedor {
		width: 676px;
	}
	main {
		.videosaritos {
			width: 676px;
		}
	}
	.mapa {
		width: 676px;
	}
	.ubicacion {
		width: 676px;
	}
	h5 {
		width: 676px;
	}
	.navbar {
		width: 676px;
	}
}
@media screen and (min-width: 678px) {
	.alert-warning {
		width: 678px;
	}
	body {
		width: 678px;
	}
	.contenedor {
		width: 678px;
	}
	main {
		.videosaritos {
			width: 678px;
			align-content: center;
		}
	}
	.mapa {
		width: 678px;
		align-content: center;
	}
	div.row {
		width: 678px;
	}
	.navbar {
		width: 678px;
	}
	div.row {
		width: 678px;	
	}
	.navbar {
		width: 678px;
	}
	h3.sucur {
		width: 678px;
	}
}
@media screen and (min-width: 679px) {
	.alert-warning {
		width: 679px;
	}
	header {
		width: 679px;
	}
	h3.sucur {
		width: 679px;
	}
	.contenedor {
		width: 679px;
	}
	main {
		.videosaritos {
			width: 679px;
		}
	}
	.mapa {
		width: 679px;
	}
	.ubicacion {
		width: 679px;
	}
	h5 {
		width: 679px;
	}
	.navbar {
		width: 679px;
	}
}
@media screen and (min-width: 682px) {
	.alert-warning {
		width: 682px;
	}
	body {
		width: 682px;
	}
	.contenedor {
		width: 682px;
	}
	main {
		.videosaritos {
			width: 682px;
			align-content: center;
		}
	}
	.mapa {
		width: 682px;
		align-content: center;
	}
	div.row {
		width: 682px;
	}
	.navbar {
		width: 682px;
	}
	div.row {
		width: 682px;	
	}
	#tabla-perfos {
		margin: auto;
	}
}
@media screen and (min-width: 683px) {
	.alert-warning {
		width: 683px;
	}
	header {
		width: 683px;
	}
	h3.sucur {
		width: 683px;
	}
	.contenedor {
		width: 683px;
	}
	main {
		.videosaritos {
			width: 683px;
		}
	}
	.mapa {
		width: 683px;
	}
	.ubicacion {
		width: 683px;
	}
	h5 {
		width: 683px;
	}
	.navbar {
		width: 683px;
	}
}
@media screen and (min-width: 685px) {
	.alert-warning {
		width: 685px;
	}
	.contenedor {
		width: 685px;
	}
	.grid {
		width: 685px;
	}
	main {
		.videosaritos {
			width: 685px;
			align-content: center;
		}
	}
	.mapa {
		width: 685px;
		align-content: center;
	}
	.grid2 {
		width: 685px;
	}
	.ubicacion {
		width: 685px;
	}
	h5 {
		width: 685px
	}
	h3.sucur {
		width:685px;
	}
}
@media screen and (min-width: 692px) {
	.alert-warning {
		width: 692px;
	}
	body {
		width: 692px;
	}
	main {
		.videosaritos {
			width: 692px;
		}
	}
	.ubi {
		width: 692px;
	}
	h5 {
		width: 692px;
	}
	.ubicacion {
		width: 692px;
	}
	div.grid2 {
		width: 692px;
	}
	.grid {
		width: 692px;
	}
	main.contenedor {
		width: 692px;
	}
}
@media screen and (min-width: 693px) {
	.alert-warning {
		width: 693px;
	}
	body {
		width: 693px;
	}
	main {
		.videosaritos {
			width: 693px;
		}
	}
	.ubi {
		width: 693px;
	}
	h5 {
		width: 693px;
	}
	.ubicacion {
		width: 693px;
	}
	div.grid2 {
		width: 693px;
	}
	.grid {
		width: 693px;
	}
	main.contenedor {
		width: 693px;
	}
	h3.sucur {
		width: 693px;
	}
	.navbar {
		width: 693px;
	}
}