@media screen and (min-width: 604px) {
	.alert-warning {
		width: 604px;
	}
	body {
		width: 604px;
	}
	.contenedor {
		width: 604px;
	}
	.grid {
		width: 604px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 604px;
			align-content: center;
		}
	}
	.mapa {
		width: 604px;
		align-content: center;
	}
	.grid2 {
		width: 604px;
	}
	.ubicacion {
		width: 604px;
	}
	h5 {
		width: 604px;
	}
}
@media screen and (min-width: 612px) {
	.alert-warning {
		width: 612px;
	}
	body {
		width: 612px;
	}
	main {
		.videosaritos {
			width: 606px;
		}
	}
	.ubi {
		width: 612px;
	}
	h5 {
		width: 612px;
	}
	.ubicacion {
		width: 612px;
	}
	div.grid2 {
		width: 612px;
	}
	.grid {
		width: 612px;
	}
	main.contenedor {
		width: 612px;
	}
}
@media screen and (min-width: 618px) {
	body {
		width: 618px;
	}
	.contenedor {
		width: 618px;
	}
	.grid {
		width: 618px;
		div {
			font-size: 18px;
			text-align: center;
			justify-content: center;
		}
	}
	main.videosaritos {
		width: 618px;
		align-content: center;
	}
	.mapa {
		width: 618px;
		align-content: center;
	}
	.grid2 {
		width: 618px;
	}
	.ubicacion {
		width: 618px;
	}
	h5 {
		width: 618px;
	}
}
@media screen and (min-width: 665px) {
	.alert-warning {
		width: 665px;
	}
}
@media screen and (min-width: 692px) {
	.alert-warning {
		width: 692px;
	}
	body {
		width: 692px;
	}
	main {
		.videosaritos {
			width: 692px;
		}
	}
	.ubi {
		width: 692px;
	}
	h5 {
		width: 692px;
	}
	.ubicacion {
		width: 692px;
	}
	div.grid2 {
		width: 692px;
	}
	.grid {
		width: 692px;
	}
	main.contenedor {
		width: 692px;
	}
}