@media screen and (min-width: 604px) {
	.alert-warning {
		width: 604px;
	}
	body {
		width: 604px;
	}
	.contenedor {
		width: 604px;
	}
	.grid {
		width: 604px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 604px;
			align-content: center;
		}
	}
	.mapa {
		width: 604px;
		align-content: center;
	}
	.grid2 {
		width: 604px;
	}
	.ubicacion {
		width: 604px;
	}
	h5 {
		width: 604px;
	}
}
@media screen and (min-width: 612px) {
	.alert-warning {
		width: 612px;
	}
	body {
		width: 612px;
	}
	main {
		.videosaritos {
			width: 606px;
		}
	}
	.ubi {
		width: 612px;
	}
	h5 {
		width: 612px;
	}
	.ubicacion {
		width: 612px;
	}
	div.grid2 {
		width: 612px;
	}
	.grid {
		width: 612px;
	}
	main.contenedor {
		width: 612px;
	}
}
@media screen and (min-width: 618px) {
	body {
		width: 618px;
	}
	.contenedor {
		width: 618px;
	}
	.grid {
		width: 618px;
		div {
			font-size: 18px;
			text-align: center;
			justify-content: center;
		}
	}
	main.videosaritos {
		width: 618px;
		align-content: center;
	}
	.mapa {
		width: 618px;
		align-content: center;
	}
	.grid2 {
		width: 618px;
	}
	.ubicacion {
		width: 618px;
	}
	h5 {
		width: 618px;
	}
}
@media screen and (min-width: 633px) {
	.alert-warning {
		width: 633px;
	}
	body {
		width: 633px;
	}
	.contenedor {
		width: 633px;
	}
	main {
		.videosaritos {
			width: 633px;
			align-content: center;
		}
	}
	.mapa {
		width: 633px;
		align-content: center;
	}
	footer {
		width: 633px;
	}
}
@media screen and (min-width: 658px) {
	.alert-warning {
		width: 658px;
	}
	body {
		width: 658px;
	}
	.contenedor {
		width: 658px;
	}
	main {
		.videosaritos {
			width: 658px;
			align-content: center;
		}
	}
	.mapa {
		width: 658px;
		align-content: center;
	}
	footer {
		width: 658px;
	}
}
@media screen and (min-width: 665px) {
	.alert-warning {
		width: 665px;
	}
}
@media screen and (min-width: 670px) {
	.alert-warning {
		width: 670px;
	}
	body {
		width: 670px;
	}
	main {
		.videosaritos {
			width: 670px;
		}
	}
	.ubi {
		width: 670px;
	}
	h5 {
		width: 670px;
	}
	.ubicacion {
		width: 670px;
	}
	div.grid2 {
		width: 670px;
	}
	.grid {
		width: 670px;
	}
	main.contenedor {
		width: 670px;
	}
	div.row {
		width: 670px;
		font-size: 20px;
	}
}
@media screen and (min-width: 678px) {
	.alert-warning {
		width: 678px;
	}
	body {
		width: 678px;
	}
	.contenedor {
		width: 678px;
	}
	main {
		.videosaritos {
			width: 678px;
			align-content: center;
		}
	}
	.mapa {
		width: 678px;
		align-content: center;
	}
	div.row {
		width: 678px;
	}
}
@media screen and (min-width: 683px) {
	.alert-warning {
		width: 683px;
	}
	body {
		width: 683px;
	}
	.contenedor {
		width: 683px;
	}
	main {
		.videosaritos {
			width: 683px;
			align-content: center;
		}
	}
	.mapa {
		width: 683px;
		align-content: center;
	}
	div.row {
		width: 683px;
	}
}
@media screen and (min-width: 692px) {
	.alert-warning {
		width: 692px;
	}
	body {
		width: 692px;
	}
	main {
		.videosaritos {
			width: 692px;
		}
	}
	.ubi {
		width: 692px;
	}
	h5 {
		width: 692px;
	}
	.ubicacion {
		width: 692px;
	}
	div.grid2 {
		width: 692px;
	}
	.grid {
		width: 692px;
	}
	main.contenedor {
		width: 692px;
	}
}