@media screen and (min-width: 806px) {
	.alert-warning {
		width: 806px;
	}
	body {
		width: 806px;
	}
	main {
		.videosaritos {
			width: 806px;
		}
	}
	.ubi {
		width: 806px;
	}
	h5 {
		width: 806px;
	}
	.ubicacion {
		width: 806px;
	}
	div.grid2 {
		width: 806px;
	}
	main.contenedor {
		width: 806px;
	}
}
@media screen and (min-width: 814px) {
	.alert-warning {
		width: 814px;
	}
	body {
		width: 814px;
	}
	main {
		.videosaritos {
			width: 814px;
		}
	}
	.ubi {
		width: 814px;
	}
	h5 {
		width: 814px;
	}
	.ubicacion {
		width: 814px;
	}
	div.grid2 {
		width: 814px;
	}
	main.contenedor {
		width: 814px;
	}
}
@media screen and (min-width: 833px) {
	.alert-warning {
		width: 843px;
	}
	body {
		width: 833px;
	}
	main {
		.videosaritos {
			width: 833px;
		}
	}
	.ubi {
		width: 833px;
	}
	h5 {
		width: 833px;
	}
	.ubicacion {
		width: 833px;
	}
	div.grid2 {
		width: 833px;
	}
	main.contenedor {
		width: 833px;
	}
}
@media screen and (min-width: 843px) {
	.alert-warning {
		width: 843px;
	}
	body {
		width: 843px;
	}
	main {
		.videosaritos {
			width: 843px;
		}
	}
	.ubi {
		width: 843px;
	}
	h5 {
		width: 843px;
	}
	.ubicacion {
		width: 843px;
	}
	div.grid2 {
		width: 843px;
	}
	main.contenedor {
		width: 843px;
	}
}
@media screen and (min-width: 850px) {
	.alert-warning {
		width: 850px;
	}
	body {
		width: 850px;
	}
	main {
		.videosaritos {
			width: 850px;
		}
	}
	.ubi {
		width: 850px;
	}
	h5 {
		width: 850px;
	}
	.ubicacion {
		width: 850px;
	}
	div.grid2 {
		width: 850px;
	}
	main.contenedor {
		width: 850px;
	}
}
@media screen and (min-width: 858px) {
	.alert-warning {
		width: 858px;
	}
	body {
		width: 858px;
	}
	main {
		.videosaritos {
			width: 858px;
		}
	}
	.ubi {
		width: 858px;
	}
	h5 {
		width: 858px;
	}
	.ubicacion {
		width: 858px;
	}
	div.grid2 {
		width: 858px;
	}
	main.contenedor {
		width: 858px;
	}
}
@media screen and (min-width: 883px) {
	.alert-warning {
		width: 883px;
	}
	header {
		width: 883px;
	}
	h3.sucur {
		width: 883px;
	}
	.contenedor {
		width: 883px;
	}
	main {
		.videosaritos {
			width: 883px;
		}
	}
	.mapa {
		width: 883px;
	}
	.ubicacion {
		width: 883px;
	}
	h5 {
		width: 883px;
	}
}