@media screen and (min-width: 909px) {
	.alert-warning {
		width: 909px;
	}
	header {
		width: 909px;
	}
	h3.sucur {
		width: 909px;
	}
	.contenedor {
		width: 909px;
	}
	main {
		.videosaritos {
			width: 909px;
		}
	}
	.mapa {
		width: 909px;
	}
	.ubicacion {
		width: 909px;
	}
	h5 {
		width: 909px;
	}
	.navbar {
		width: 909px;
	}
}
@media screen and (min-width: 922px) {
	.carousel-inner{
	 height: 200px;
	}
	.alert-warning {
		width: 922px;
	}
	body {
		width: 922px;
	}
	main {
		.videosaritos {
			width: 922px;
		}
	}
	.ubi {
		width: 922px;
	}
	h5 {
		width: 922px;
	}
	.ubicacion {
		width: 922px;
	}
	div.grid2 {
		width: 922px;
	}
	main.contenedor {
		width: 922px;
	}
}
@media screen and (min-width: 936px) {
	.alert-warning {
		width: 936px;
	}
	header {
		width: 936px;
	}
	h3.sucur {
		width: 936px;
	}
	.contenedor {
		width: 936px;
	}
	main {
		.videosaritos {
			width: 936px;
		}
	}
	.mapa {
		width: 936px;
	}
	.ubicacion {
		width: 936px;
	}
	h5 {
		width: 936px;
	}
	.navbar {
		width: 936px;
	}
	div.row {
		font-size: 35px;
	}
}
@media screen and (min-width: 946px) {
	.alert-warning {
		width: 946px;
	}
	header {
		width: 946px;
	}
	h3.sucur {
		width: 946px;
	}
	.contenedor {
		width: 946px;
	}
	main {
		.videosaritos {
			width: 946px;
		}
	}
	.mapa {
		width: 946px;
	}
	.ubicacion {
		width: 946px;
	}
	h5 {
		width: 946px;
	}
	.navbar {
		width: 946px;
	}
}
@media screen and (min-width: 960px) {
	.alert-warning {
		width: 960px;
	}
	header {
		width: 960px;
	}
	h3.sucur {
		width: 960px;
	}
	.contenedor {
		width: 960px;
	}
	main {
		.videosaritos {
			width: 960px;
		}
	}
	.mapa {
		width: 960px;
	}
	.ubicacion {
		width: 960px;
	}
	h5 {
		width: 960px;
	}
	.navbar {
		width: 960px;
	}
}
@media screen and (min-width: 966px) {
	.alert-warning {
		width: 966px;
	}
	body {
		width: 966px;
	}
	.contenedor {
		width: 966px;
	}
	main {
		.videosaritos {
			width: 966px;
			align-content: center;
		}
	}
	.mapa {
		width: 966px;
		align-content: center;
	}
	footer {
		width: 966px;
	}
	h3.sucur {
		width: 966px;
	}
	.navbar {
		width: 966px;
	}
}
@media screen and (min-width: 979px) {
	.alert-warning {
		width: 979px;
	}
	.contenedor {
		width: 979px;
	}
	.grid {
		width: 979px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 979px;
			align-content: center;
		}
	}
	.mapa {
		width: 979px;
		align-content: center;
	}
	.grid2 {
		width: 979px;
	}
	.ubicacion {
		width: 979px;
	}
	h5 {
		width: 979px;
	}
	h3.sucur {
		width: 979px;
	}
}
@media screen and (min-width: 980px) {
	.alert-warning {
		width: 980px;
	}
	.contenedor {
		width: 980px;
	}
	.grid {
		width: 980px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 980px;
			align-content: center;
		}
	}
	.mapa {
		width: 980px;
		align-content: center;
	}
	.grid2 {
		width: 980px;
	}
	.ubicacion {
		width: 980px;
	}
	h5 {
		width: 980px;
	}
}
@media screen and (min-width: 985px) {
	.alert-warning {
		width: 980px;
	}
	.contenedor {
		width: 985px;
	}
	.grid {
		width: 985px;
		div {
			font-size: 25px;
			text-align: center;
			justify-content: center;
		}
	}
	main {
		.videosaritos {
			width: 985px;
			align-content: center;
		}
	}
	.mapa {
		width: 985px;
		align-content: center;
	}
	.grid2 {
		width: 985px;
	}
	.ubicacion {
		width: 985px;
	}
	h5 {
		width: 985px;
	}
}
@media screen and (min-width: 992px) {
	.alert-warning {
		width: 992px;
	}
	header {
		width: 992px;
	}
	h3.sucur {
		width: 992px;
	}
	.contenedor {
		width: 992px;
	}
	main {
		.videosaritos {
			width: 992px;
		}
	}
	.mapa {
		width: 992px;
	}
	.ubicacion {
		width: 992px;
	}
	h5 {
		width: 992px;
	}
	.navbar {
		width: 992px;
	}
}
@media screen and (min-width: 994px) {
	.alert-warning {
		width: 994px;
	}
	body {
		width: 994px;
	}
	.contenedor {
		width: 994px;
	}
	main {
		.videosaritos {
			width: 994px;
			align-content: center;
		}
	}
	.mapa {
		width: 994px;
		align-content: center;
	}
	footer {
		width: 994px;
	}
	h3.sucur {
		width: 994px;
	}
	.navbar {
		width: 994px;
	}
}