div.row {
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	color: #797177;
	font-style: italic;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 500;
	font-size: 15px;
	width: 100%;
}
footer {
	width: 100%;
}