.nav-pills {
	.nav-link.active {
		color:$color-1;
		background-color: $color-2;
	}
	.show {
		>.nav-link {
			color: #ffffff;
			background-color:$color-2;
		}
	}
}
.nav-link {
	color: $color-1;
}
.nav-item {
	>a {
		&:hover {
			color: #797177;
		}
	}
}